<p id="notice"><%= notice %></p>

<!-- -->
<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :やること%>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :説明 %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :締め切り %>
    <%= form.date_select :due_date %>
  </div>

  <div class="field">
    <%= form.label :完了済み %>
    <%= form.check_box :done %>
  </div>

  <div class="actions">
    <%= form.submit "作成" %>
  </div>
<% end %>


<h1>未完了のタスク</h1>

<table>
  <thead>
    <tr>
      <th>やること</th>
      <th>締め切り</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.due_date %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '完了', [:finish, task],:method => :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'タスク作成', new_task_path %>
